<div class="container about-header">
<div class="panel-primary">
  <div class="panel-heading">
<h1>About Blockers</h1>
</div>
<div class="panel-body panel panel-default paddng">
<h3>Ever wish you could get a quick answer to something that's Blocking you? Well now you can with BLOCKERS! Simply sign up and post a your Blockers. Others from your community can quickly post the solution to why you are blocked. Its that simple!</h3>
</div>
</div>
</div>
