<div class="container">
<div class="panel-primary">
  <div class="panel-heading">
<h1>About Blockers</h1>
</div>
<div class="panel-body panel panel-default paddng">
<h3>Ever wish you could get a quick answer to something that is Blocking you? Well now you can with BLOCKERS! Simply sign up and post a problem you are having. Others from your community can quickly post the solution (with pictures) you need. Its that simple!</h3>
</div>
</div>
</div>
