<h1> Blockers</h1>
<p>Share what's blocking you with your peers and get realtime direct feedback.</p>
<p> Easily send solutions to others who need help or opt to meet up and show them first hand.</p>
<p> Sign up and check us out!</p>
