
<div class="jumbotron" >
  <!-- <div class="imageandtext">
        <img class="monkeyimg" src="http://3.bp.blogspot.com/-Xik-tm4CH0M/T4_z4Ydo2xI/AAAAAAAAAL0/9XaZxgAOsIg/s1600/puzzled.png" class="center-block" alt="derry">
      <div class="ca"> -->

</div>
      <div class="caption">
        <p>BLOCKED!? Share what you need help with to get realtime feedback from your community.</p>
             Easily send solutions to what's blocking others or opt to meet up and collaborate on the problem.</p>
            <div class="col-md-6">
             <%= button_to "Sign Up", new_user_registration_path, class: "btn btn-info"%>
            </div>
            <div class="col-md-6">
             <%= button_to "Sign In", new_user_session_path, class: "btn btn-info" %>
            </div>
        </p>
      </div>
